{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
{% endblock %}
{% block javascript %}
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
{% endblock %}
{% block content%}
        <div class="container">
            {% include "header.html" %}
            <div class="row">
                <div class="span8 offset2">
                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label" for="inputDate">活动时间</label>
                            <div class="controls">
                                <input type="text" id="inputDate" placeholder="Date" name="activity_date">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <label class="control-label" for="selectUser">活动类别</label>
                            <div class="controls">          
                                <select id="selectUser" name="selectUser">
                                    <option value="{{ u.user_table_id }}">A</option>
                                    <option value="{{ u.user_table_id }}">B</option>
                                    <option value="{{ u.user_table_id }}">C</option>
                                    <option value="{{ u.user_table_id }}">D</option>
                                    <option value="{{ u.user_table_id }}">E</option>
                                </select>
                            </div>
                        </div> 
                        <div class="control-group">
                            <label class="control-label" for="inputComments">活动备注</label>
                            <div class="controls">
                                <input type="text" id="inputComments" placeholder="" name="activity_comments">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputComments">金额</label>
                            <div class="controls">
                                <input type="text" id="inputComments" placeholder="" name="activity_comments">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputComments">活动人数</label>
                            <div class="controls">
                                <input type="text" id="inputComments" placeholder="" name="activity_comments">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <label class="control-label" for="selectUser">选择组别</label>
                            <div class="controls">          
                                <select id="selectUser" name="selectUser">
                                    <option value="{{ u.user_table_id }}">ISAMV1</option>
                                    <option value="{{ u.user_table_id }}">ISAMV2</option>
                                    <option value="{{ u.user_table_id }}">ISAMV3</option>
                                    <option value="{{ u.user_table_id }}">ISAMV4</option>
                                    <option value="{{ u.user_table_id }}">ISAMV5</option>
                                    <option value="{{ u.user_table_id }}">ISAMV6</option>
                                    <option value="{{ u.user_table_id }}">ISAMV7</option>
                                    <option value="{{ u.user_table_id }}">ISAMV8</option>
                                </select>
                                </div>
                        </div> 
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">发布</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $('#inputDate').datepicker({format: 'yyyy-mm-dd'});
        </script>
{% endblock %}
