            <div class="bb" >
                
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index">消费列表</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="activity">添加活动消费</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="ratio">活动比例</a><span class="divider">/</span>
                        </li>
                        <!-- <li> -->
                        <!--     <a href="change">编辑项目组</a> <span class="divider">/</span> -->
                        <!-- </li> -->
                        <!-- <li> -->
                        <!--     <a href="add">增减活动类别</a> <span class="divider">/</span> -->
                        <!-- </li> -->
                        <li>
                            <a href="charge">充值</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
