            <div class="bb" >
                
                <div>
                    <ul class="breadcrumb">
                        <li>
                            <a href="index">消费列表</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="activity">添加活动消费</a> <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="ratio">活动比例</a><span class="divider">/</span>
                        </li>
                        <!-- <li> -->
                        <!--     <a href="change">编辑项目组</a> <span class="divider">/</span> -->
                        <!-- </li> -->
                        <!-- <li> -->
                        <!--     <a href="add">增减活动类别</a> <span class="divider">/</span> -->
                        <!-- </li> -->
                        {% if user.is_staff %}
                        <li>
                            <a href="charge">充值</a> <span class="divider">/</span>
                        </li>
                        {% endif %}
                        <li>
                        <a href="">Hello, {{ user.username }}</a> <span class="divider">/</span>
                        </li>
                        <!-- <li> -->
                        <!-- <a href="">总余额:{{ sum }}</a> <span class="divider">/</span> -->
                        <!-- </li> -->
                        <!-- {% for key,value in balance.items %} -->
                        <!-- <li> -->
                        <!-- <a href="logout">{{ key.activity_name }}:{{ value }}</a> <span class="divider">/</span> -->
                        <!-- </li> -->

                        <!-- {% endfor %} -->
                        <li>
                            <a href="logout">注销</a> <span class="divider">/</span>
                        </li>
                    </ul>
                </div>
            </div>
