{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/datepicker.css" />
{% endblock %}
{% block javascript %}
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
{% endblock %}
{% block content%}
        <div class="container">
            {% include "header.html" %}
            <div class="row">
                <div class="span8 offset2">
                    <!-- <form class="form-horizontal" action="" method="POST"> -->
                    <!--     {% csrf_token %} -->
                    <!-- </form> -->

                    <table class="table table-striped table-bordered table-hover datatable">
                        <thead>
                            <tr>
                                <th>活动名称</th>
                                <th>费用比例</th>
                                <th>活动说明</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in object_list %}
                            <tr> 
                                <td>{{ activity.activity_name }}</td>
                                <td>{{ activity.ratio }}</td>
                                <td>{{ activity.comment }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
